@tailwind base;
@tailwind components;
@tailwind utilities;

/* App layout helpers */
:root { --header-h: 56px; --bottomnav-h: 56px; }
html, body, #root { height: 100%; }
body { margin: 0; font-family: ui-sans-serif, system-ui; }
.app-main { padding-top: calc(var(--header-h) + 8px); padding-bottom: calc(var(--bottomnav-h) + 8px); }
